api:
  ntpc:
    base_url: https://crd-rubbish.epd.ntpc.gov.tw/WebAPI
    retry_count: 3
    retry_delay: 2
    timeout: 10
  server:
    debug: false
    host: 0.0.0.0
    port: 5000
location:
  lat: 25.0084129
  lng: 121.4603453
system:
  cache_enabled: false
  cache_ttl: 60
  log_level: INFO
tracking:
  approaching_threshold: 2
  enter_point: 中山路一段30號
  exit_point: 中山路一段102號
  target_lines:
  - A12路線晚上
  - A12路線下午(2.5.6版)
  - A05路線下午
  - A05路線晚上
  - B03路線下午
  - B03路線晚上
  - A02路線下午
  - A02路線晚上
  trigger_mode: arriving
